@{
    Layout = "~/Views/Shared/_ProfilePageLayout.cshtml";
}

<ul id="slide-out" class="sidenav sidenav-fixed grey darken-4">


    <!-- Profile Picture -->
    <div class="center-align" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="center-align" style="margin-top: 9px;">
            <img src="~/Content/Media/pokemon_logo.png" alt="Pokémon Logo" class="responsive-img" style="max-height: 80px;">
        </div>
        <img src="~/Content/Media/RedDefault.png" alt="Profile Picture" class="circle responsive-img" style="max-width: 100px;">
        <p class="white-text profile-name">Trainer Red</p>

        <!-- Statistics -->
        <p class="white-text" style="margin: 5px 0;">
            <span><b>10</b> Posts</span> | <span><b>50</b> Comments</span>
        </p>

        <!-- Login Credentials -->
        <div class="white-text" style="margin-top: 10px;">
            <!-- Email Box (design-only) -->
            <div class="input-box">
                <p><b>Email:</b></p>
                <div class="input-field-design">
                    <p>ilovegengar@gmail.com</p>
                </div>
            </div>

            <!-- Password Box (design-only) -->
            <div class="input-box">
                <p><b>Password:</b></p>
                <div class="input-field-design">
                    <span id="password" class="password">**********</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Links -->
    <li><a href="#!" class="white-text">Home Page</a></li>
    <li><a href="~/TeamBuilder.cshtml" class="white-text">Team Builder</a></li>
    <li><a href="#!" class="white-text">Forum Page</a></li>
    <li>
        <a href="#!" class="red-text" style="display: flex; align-items: center; justify-content: flex-start;">
            Log Out
            <i class="material-icons red-text" style="margin-left: 8px;">exit_to_app</i>
        </a>
    </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<div class="content-wrapper">
    <div class="container">
        @for (int i = 0; i < 7; i++)
        {
            <div class="col s12 m7">
                <h2 class="header">Username</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://img.pokemondb.net/sprites/sword-shield/normal/gengar.png" alt="Pokemon Image">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I play Pokémon Go everyday</p>
                        </div>
                        <!-- Add footer for comments and shares -->
                        <div class="card-action">
                            <!-- Comments -->
                            <a href="#" class="grey-text text-darken-2" style="display: flex; align-items: center;">
                                <i class="material-icons" style="margin-right: 5px;">chat_bubble_outline</i>
                                15 Comments
                            </a>
                            <!-- Shares -->
                            <a href="#" class="grey-text text-darken-2" style="display: flex; align-items: center;">
                                <i class="material-icons" style="margin-right: 5px;">share</i>
                                8 Shares
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

