@{
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<!-- Background Video -->
<video autoplay muted loop class="background-video">
    <source src="~/Content/Media/Windrise.mp4" type="video/mp4">
</video>
<body>
<div class="row center">
    <div class="col s2 m2 l2"></div>
    <div class="col s8 m8 l8">
        <div class="row">
            <div class="col s12 m12 l12" style="margin-top: 5px">
                <div class="card #c3dbc3 z-depth-4" style="border-radius: 10px; margin-bottom: 5px;">
                    <div class="card-content white-text">
                        <div class="row" ng-init="initFunc()">
                            <form name="RegistrationPage" class="col s12" novalidate>
                                <div class="row">
                                    <!-- First Name -->
                                    <div class="input-field col s4 m4 l4">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="fName" type="text" class="validate" ng-model="firstName" name="firstName" data-length="50" maxlength="50" required >
                                        <span class="helper-text" ng-show="RegistrationPage.firstName.$touched && RegistrationPage.firstName.$invalid">This field is required</span>
                                        <label for="fName">First Name</label>
                                    </div>
                                    <!-- Middle Name -->
                                    <div class="input-field col s4 m4 l4">
                                        <input id="mName" type="text" class="validate" ng-model="middleName" data-length="50" maxlength="50" >
                                        <label for="mName">Middle Name</label>
                                    </div>
                                    <!-- Last Name -->
                                    <div class="input-field col s4 m4 l4">
                                        <input id="lName" type="text" class="validate" ng-model="lastName" name="lastName" data-length="50" maxlength="50" required>
                                        <label for="lName">Last Name</label>
                                        <span class="helper-text" ng-show="RegistrationPage.lastName.$touched && RegistrationPage.lastName.$invalid">This field is required</span>
                                    </div>
                                    <!-- Email -->
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <input id="uemail" type="email" class="validate" ng-model="userEmail" name="userEmail" data-length="100" maxlength="100" required>
                                        <label for="uemail">Email</label>
                                        <span class="helper-text" ng-show="RegistrationPage.userEmail.$touched && RegistrationPage.userEmail.$invalid">This field is required</span>
                                    </div>
                                    <!-- Password -->
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="upassword" type="{{isPasswordVisible ? 'text' : 'password'}}" class="validate" ng-model="userPassword" name="userPassword" required>
                                        <label for="upassword">Password</label>
                                        <span class="helper-text" ng-show="RegistrationPage.userPassword.$touched && RegistrationPage.userPassword.$invalid">This field is required</span>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="uPConfirm" type="{{isPasswordVisible ? 'text' : 'password'}}" class="validate" ng-model="userConfirm" name="userConfirm" required>
                                        <label for="uPConfirm">Confirm Password</label>
                                        <span class="helper-text" ng-show="RegistrationPage.userConfirm.$touched && RegistrationPage.userConfirm.$invalid">This field is required</span>
                                    </div>
                                    <!-- Address -->
                                    <div class="input-field col s12 m12 l12">
                                        <i class="material-icons prefix">location_on</i>
                                        <input id="uAddress" type="text" class="validate" ng-model="userAddress" name="userAddress" data-length="100" maxlength="100" required>
                                        <label for="uAddress">Address</label>
                                        <span class="helper-text" ng-show="RegistrationPage.userAddress.$touched && RegistrationPage.userAddress.$invalid">This field is required</span>
                                    </div>
                                    <!-- Phone -->
                                    <div class="input-field col s12 m12 l12">
                                        <i class="material-icons prefix">local_phone</i>
                                        <input id="uPhone" type="text" class="validate" ng-model="userPhone" name="userPhone" data-length="11" maxlength="11" required>
                                        <label for="uPhone">Phone Number</label>
                                        <span class="helper-text" ng-show="RegistrationPage.userPhone.$touched && RegistrationPage.userPhone.$invalid">This field is required</span>
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="col s12 m12 l12">
                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light btn-large col s12" ng-click="getInputData()"
                                           ng-disabled="RegistrationPage.$invalid">
                                            <i class="material-icons left">send</i><b>SUBMIT</b>
                                        </a>
                                    </div>
                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light btn-large col s12 grey darken-4" ng-click="cancelFunc()">
                                            <i class="material-icons left">cancel</i><b @*style="color: #d8c47f""*@ class="fontcancel">CANCEL</b>
                                        </a>
                                    </div>
                                </div>
                                <!-- Link to Login Page -->
                                <div class="col s12" style="margin-top: 20px;">
                                    <a href="/Home/LoginPage">Already have an account? Login here.</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>